
*{
    margin: 0;
    padding: 0;

}

.carousel-item{
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
}
.carousel-item::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.5;
    z-index: -1;
}
.carousel-item .container{
    position: absolute;
    width: 75%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.carousel-item h1{
    font-size: 80px;
    color: white;
    margin: 0 0 10px;
}
.carousel-item p{
    font-size: 20px;
    color: white;
    margin: 0 0 10px;
}



.car-1{
    background-image:url(images/cover/cover-1.png) ;
}
.car-2{
    background-image:url(images/cover/cover-2.jpg) ;
}
.car-3{
    background-image:url(images/cover/cover-3.jpg) ;
}



/* .carousel-item{
    max-height: 80vh;
    min-height: 300px;
    background: no-repeat scroll center scroll;
    -webkit-background-size: cover;
    background-size: cover;
}

.carousel-item::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.7;
} */






footer{
    width: 100%;
    height: 350px;
    min-height: 250px;
}